.meteo_h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}
.meteo_dias_hora {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}
.meteo_Dias_tabla {
  margin: 20px;
  background-color: rgba(187, 187, 255, 0.3);
  padding: 15px;
  border-radius: 20px;
}
.meteo_Dias_tabla td {
  padding-right: 8px;
  padding-bottom: 8px;
}
.meteo_Dias_tabla td td {
  padding-bottom: 10px;
  padding-right: 8px;
}
.meteo_dias_dia {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 12px;
}
.mete_dias_img {
  text-align: center;
}
.mete_dias_img img {
  margin-top: 8px;
  margin-bottom: 19px;
}
